@import "globals";

.color {
  @include shadow;
  
  height: 235px;
  
  border: 2px solid $light-grey;
  border-bottom-color: darken($light-grey, 40%);
  border-right-color: darken($light-grey, 40%);
  
  margin: 1em;
  padding: 0;
  
 
  display: inline-flex;
  flex-direction: column;
  
  position: relative;
}

.color__removeButton {
   position: absolute;
   top: .5em;
   right: .5em;
   
   
}

.color__timestamp {
  position: absolute;
  bottom: .5em;
  right: .5em;
  font-family: monospace;
  color: darken($light-grey, 40%);
}

.color__canvas {
  height: 100px;
}