.menu {
  display: inline-flex;

  justify-content: space-around;
  background-color: black;
  color: white;
}

.menu__link {
  /*flex-grow: 1;*/
  flex-shrink: 1;

  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 2em;
  text-decoration: none;
  padding: .5em;
}