.starRating {
   display: inline-flex;
   flex-direction: column;
}

.starRating__list {
   display: inline-flex;
}

.starRating__info {
   text-align: center;   
}

.starRating__star_margin {
   margin: 2px;
}